html {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
}

h1,
h2 {
    color: rgb(255, 103, 180);
}

p {
    color: rgb(0, 38, 165);
}

a {
    color: rgb(255, 163, 193);
}

a:visited {
    color: rgb(155, 68, 83);
}

ul {
    list-style-type: none;
    margin-block:0px;
    margin-inline: 0px;
    padding-inline-start: 10px;
}

#cv {
    font-size: 11pt;
    margin-left: 10px;
}

#summary {
    padding-inline-start: 10px;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "cn cn cn dt"
    "pd pd pd pd"
    "tp . . ."
    "tl tl tl ."
}

.comp-name {
    grid-area: cn;
}

.date {
    grid-area: dt;
}

.proj-desc {
    grid-area: pd;
}

.task-perf {
    grid-area: tp;
}

.tasks-list {
    grid-area: tl;
}

#education {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "edh edh edh ."
    "un un un dt";
}

#education .date {
    grid-area: dt;
}

.uni-name {
    grid-area: un;
    padding-inline-start: 20px;
}
